# Окружение и секреты
.env
agent.db

# Виртуальные окружения
.venv/
venv/
env/
ENV/
venvs/
*.virtualenv

# Python (кэш и сборка)
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Инструменты разработки (IDE)
.idea/
.vscode/

# Тестирование
.pytest_cache/
.coverage
htmlcov/

